

$background-color:  #999999;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-jenkins {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

/*  h1 {
    margin-bottom: 3px;
  }*/

  .value {
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .small {
    font-size: 0.9em;
  }

  img {
    width: 32px;
    height: 32px;
  }
}
