---
# project_name: monitoring
version: '2.0'

networks:
  mon:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.0.0/24

services:

  dnsdock:
    restart: always
    image: bodsch/docker-dnsdock:1703-02
    container_name: dnsdock
    hostname: dnsdock
    labels:
      com.dnsdock.image: "dnsdock"
      com.dnsdock.alias: "dnsdock"
      com.dnsdock.ttl: "0"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 53:53
    command: "--nameserver='141.1.1.1:53' --http=:80"
    networks:
      mon:
        ipv4_address: 172.25.0.5

  database:
    restart: always
    image: bodsch/docker-mysql:1702-02
    container_name: database
    hostname: database
    labels:
      com.dnsdock.image: "database"
      com.dnsdock.alias: "database"
      com.dnsdock.ttl: "0"
    env_file:
      - env/database.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.10

  memcached:
    restart: always
    image: bodsch/docker-memcached:1702-02
    container_name: memcached
    hostname: memcached
    labels:
      com.dnsdock.image: "memcached"
      com.dnsdock.alias: "memcached"
      com.dnsdock.ttl: "0"
    env_file:
      - env/memcached.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      mon:
        ipv4_address: 172.25.0.12

  nginx:
    restart: always
    image: bodsch/docker-nginx:1702-02
    container_name: nginx
    hostname: nginx
    labels:
      com.dnsdock.image: "nginx"
      com.dnsdock.alias: "nginx"
      com.dnsdock.ttl: "0"
    ports:
      - 80:80
    depends_on:
      - graphite
      - grafana
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/nginx/var/www:/var/www:ro
      - ./share/nginx/etc/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      - ./share/nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./share/nginx/etc/nginx/modules.d/00-restrictions.conf:/etc/nginx/modules.d/00-restrictions.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-grafana.conf:/etc/nginx/modules.d/01-proxy-grafana.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-graphite.conf:/etc/nginx/modules.d/01-proxy-graphite.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-icingaweb2.conf:/etc/nginx/modules.d/01-proxy-icingaweb2.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-markdown-service.conf:/etc/nginx/modules.d/01-proxy-markdown-service.conf
    networks:
      mon:
        ipv4_address: 172.25.0.15

  carbon:
    restart: always
    image: bodsch/docker-go-carbon:1702-02
    container_name: carbon
    hostname: carbon
    labels:
      com.dnsdock.image: "carbon"
      com.dnsdock.alias: "carbon"
      com.dnsdock.ttl: "0"
    ports:
      - 2003:2003
      - 2003:2003/udp
      - 7002:7002
      - 7007:7007
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.20

  graphite:
    restart: always
    image: bodsch/docker-graphite:1702-02
    container_name: graphite
    hostname: graphite
    labels:
      com.dnsdock.image: "graphite"
      com.dnsdock.alias: "graphite"
      com.dnsdock.ttl: "0"
    env_file:
      - env/graphite.env
    depends_on:
      - memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.21

  grafana:
    restart: always
    image: bodsch/docker-grafana:1702-02
    container_name: grafana
    hostname: grafana
    labels:
      com.dnsdock.image: "grafana"
      com.dnsdock.alias: "grafana"
      com.dnsdock.ttl: "0"
    env_file:
      - env/database.env
      - env/grafana.env
    depends_on:
      - database
      - memcached
      - carbon
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
      - ./share/grafana/templates/graphite-carbon-metrics.json:/opt/grafana/dashboards
      - ./share/grafana/templates/internal-grafana-stats.json:/opt/grafana/dashboards
    networks:
      mon:
        ipv4_address: 172.25.0.22

  icinga2-core:
    restart: always
    image: bodsch/docker-icinga2:1703-01
    container_name: icinga2-core
    hostname: icinga2-core
    labels:
      com.dnsdock.image: "icinga2-core"
      com.dnsdock.alias: "icinga2-core"
      com.dnsdock.ttl: "0"
    env_file:
      - env/database.env
      - env/icinga2.env
    depends_on:
      - database
      - memcached
    ports:
      - 5665:5665
      - 6666:6666
      - 4567:4567
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
      - ./data:/srv
      - ./data/icinga2:/var/lib/icinga2/
      - ./data/monitoring:/var/cache/monitoring
      - ./share/icinga2:/usr/local/monitoring
      - ./share/icinga2/etc/cm-icinga2.yaml:/etc/cm-icinga2.yaml
      - ./share/icinga2/usr/lib/monitoring-plugins/tools:/usr/local/share/icinga2
      - ./share/icinga2/usr/lib/monitoring-plugins/icingachecks.rb:/usr/local/lib/icingachecks.rb
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_feeder_status.rb:/usr/lib/monitoring-plugins/check_cm_feeder_status
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_cache.rb:/usr/lib/monitoring-plugins/check_cm_cache
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_memory.rb:/usr/lib/monitoring-plugins/check_cm_memory
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_license.rb:/usr/lib/monitoring-plugins/check_cm_license
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_capconnection.rb:/usr/lib/monitoring-plugins/check_cm_capconnection
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_runlevel.rb:/usr/lib/monitoring-plugins/check_cm_runlevel
      - ./share/icinga2/usr/lib/monitoring-plugins/check_ssl_cert:/usr/lib/monitoring-plugins/check_ssl_cert
      - ./share/icinga2/etc/icinga2/objects:/etc/icinga2/objects
    links:
      - memcached:memcached
      - database:database
    networks:
      mon:
        ipv4_address: 172.25.0.30

  icingaweb2:
    restart: always
    image: bodsch/docker-icingaweb2:1703-02
    container_name: icingaweb2
    hostname: icingaweb2
    labels:
      com.dnsdock.image: "icingaweb2"
      com.dnsdock.alias: "icingaweb2"
      com.dnsdock.ttl: "0"
    env_file:
      - env/database.env
      - env/icinga2.env
      - env/icingaweb2.env
    depends_on:
      - database
      - icinga2-core
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
      - ./share/icingaweb2:/usr/local/share
    volumes_from:
      - icinga2-core
    links:
      - database:database
      - icinga2-core:icinga2
    networks:
      mon:
        ipv4_address: 172.25.0.31


  markdown-service:
    restart: always
    image: bodsch/docker-markdown-service:latest
    container_name: markdown-service
    hostname: markdown-service
    labels:
      com.dnsdock.image: "markdown-service"
      com.dnsdock.alias: "markdown-service"
      com.dnsdock.ttl: "30"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/markdown-service/index.md:/var/www/index.md
      - ./share/markdown-service/coremedia:/var/www
    networks:
      mon:
        ipv4_address: 172.25.0.32
