// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// $background-color:  #A0BC3B;
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-cloudwatch {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .check {
    float: left;
    padding: 4px 0px;
    width:100%
  }

  .check[data-state="green"] {
  }

  .check[data-state="yellow"] {
    background-color: yellow;
    color:black;
  }

  .check[data-state="red"] {
    background-color: #B72126;
  }

  .check span {
    padding: 0px 4px;
  }

  .name {
    float: left
  }

  .time {
    float: right
  }

  .avg { float: right; font-weight: bold; }

}
