---
# project_name: monitoring
#
# data-capture

version: '2.0'

volumes:
  database:

services:

  data:
    build: ../../docker-cm-data
    container_name: 01-data
    depends_on:
      - dnsdock
    volumes:
      - /share:/share

  dnsdock:
    restart: always
    image: bodsch/docker-dnsdock:1704-01
    container_name: dnsdock
    hostname: dnsdock
    labels:
      com.dnsdock.alias: dnsdock
      com.dnsdock.ttl: '120'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
    # You can use also Environment vars like this:
    # command: "--nameserver='${DNS_1}:53' --nameserver='${DNS_2}:53' --http=:80"
    command: " --nameserver='10.1.2.14:53' --nameserver='10.1.2.63:53' --http=:80 --ttl=120 --verbose"


  beanstalkd:
    restart: always
    image: bodsch/docker-beanstalkd:1704-01
    container_name: beanstalkd
    hostname: beanstalkd
    labels:
      com.dnsdock.alias: beanstalkd
      com.dnsdock.ttl: '120'
    volumes:
      - /etc/localtime:/etc/localtime:ro


  jolokia:
    restart: always
    image: bodsch/docker-jolokia:latest
    container_name: jolokia
    hostname: jolokia
    labels:
      com.dnsdock.alias: jolokia
      com.dnsdock.ttl: '120'
    depends_on:
      - data
    volumes:
      - /etc/localtime:/etc/localtime:ro


  memcached:
    restart: always
    image: bodsch/docker-memcached:1704-01
    container_name: memcached
    hostname: memcached
    labels:
      com.dnsdock.alias: memcached
      com.dnsdock.ttl: '120'
    volumes:
      - /etc/localtime:/etc/localtime:ro
    command: "-l 0.0.0.0 -m 16 -u memcached"


  redis:
    restart: always
    image: bodsch/docker-redis:1704-01
    container_name: redis
    hostname: redis
    labels:
      com.dnsdock.image: "redis"
      com.dnsdock.alias: "redis"
      com.dnsdock.ttl: '120'
    volumes:
      - /etc/localtime:/etc/localtime:ro


  nginx:
    restart: always
    image: bodsch/docker-nginx:1704-01
    container_name: nginx
    hostname: nginx
    labels:
      com.dnsdock.alias: nginx-proxy
      com.dnsdock.ttl: '120'
    ports:
      - 80:80
    depends_on:
      - data
      - cm-rest-service
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/var/www/localhost:/var/www/localhost
      - /share/etc/nginx/sites-enabled:/etc/nginx/sites-enabled
      - /share/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /share/etc/nginx/modules.d/00-restrictions.conf:/etc/nginx/modules.d/00-restrictions.conf
      - /share/etc/nginx/modules.d/01-proxy-rest-service.conf:/etc/nginx/modules.d/01-proxy-rest-service.conf:ro


  carbon-relay:
    restart: always
    image: bodsch/docker-carbon-relay-ng:1704-01
    container_name: carbon-relay
    hostname: carbon-relay
    labels:
      com.dnsdock.alias: carbon-relay
      com.dnsdock.ttl: '120'
    ports:
      - 2003:2003
    extends:
      file: environments.yml
      service: carbon-relay
    volumes:
      - /etc/localtime:/etc/localtime:ro


  icinga2-satellite:
    restart: always
    image: bodsch/docker-icinga2:1703-04
    container_name: icinga2-satellite
    hostname: icinga2-satellite
    labels:
      com.dnsdock.alias: icinga2-satellite
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: icinga2-satellite
    depends_on:
      - data
      - database
      - memcached
    links:
      - database
      - memcached
    ports:
      - 5665:5665
      - 6666:6666
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/etc/cm-icinga2.yaml:/etc/cm-icinga2.yaml
      - /share/etc/icinga2/objects:/etc/icinga2/objects
      - /share/usr/local/share/icinga2:/usr/local/share/icinga2
      - /share/usr/lib/monitoring-plugins/tools:/usr/local/share/icinga2
      - /share/usr/lib/monitoring-plugins/icingachecks.rb:/usr/local/lib/icingachecks.rb
      - /share/usr/lib/monitoring-plugins/check_cm_feeder_status.rb:/usr/lib/monitoring-plugins/check_cm_feeder_status
      - /share/usr/lib/monitoring-plugins/check_cm_cache.rb:/usr/lib/monitoring-plugins/check_cm_cache
      - /share/usr/lib/monitoring-plugins/check_cm_memory.rb:/usr/lib/monitoring-plugins/check_cm_memory
      - /share/usr/lib/monitoring-plugins/check_cm_license.rb:/usr/lib/monitoring-plugins/check_cm_license
      - /share/usr/lib/monitoring-plugins/check_cm_capconnection.rb:/usr/lib/monitoring-plugins/check_cm_capconnection
      - /share/usr/lib/monitoring-plugins/check_cm_runlevel.rb:/usr/lib/monitoring-plugins/check_cm_runlevel
      - /share/usr/lib/monitoring-plugins/check_cm_sequencenumbers.rb:/usr/lib/monitoring-plugins/check_cm_seqencenumbers
      - /share/usr/lib/monitoring-plugins/check_ssl_cert:/usr/lib/monitoring-plugins/check_ssl_cert
      - database:/srv
      - database:/var/lib/icinga2
      - database:/var/cache/monitoring


  #
  # CoreMedia Glue and Logic

  cm-service-discovery:
    restart: always
    build: ../../docker-cm-service-discovery
    container_name: cm-service-discover
    hostname: cm-service-discover
    labels:
      com.dnsdock.alias: cm-service-discovery
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-service-discovery
    depends_on:
      - data
      - jolokia
      - beanstalkd
      - memcached
    links:
      - jolokia
      - beanstalkd
      - memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/etc/cm-service.yaml:/etc/cm-service.yaml
      - /share/etc/cm-application.yaml:/etc/cm-application.yaml
      - database:/var/cache/monitoring


  cm-data-collector:
    restart: always
    build: ../../docker-cm-data-collector
    container_name: cm-data-collector
    hostname: cm-data-collector
    labels:
      com.dnsdock.alias: cm-data-collector
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-data-collector
    depends_on:
      - data
      - jolokia
      - beanstalkd
      - memcached
    links:
      - jolokia
      - beanstalkd
      - memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/etc/cm-service.yaml:/etc/cm-service.yaml
      - /share/etc/cm-application.yaml:/etc/cm-application.yaml
      - database:/var/cache/monitoring


  cm-carbon-client:
    restart: always
    build: ../../docker-cm-carbon-client
    container_name: cm-carbon-client
    hostname: cm-carbon-client
    labels:
      com.dnsdock.alias: cm-carbon-client
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-carbon-client
    depends_on:
      - data
      - beanstalkd
      - memcached
    links:
      - beanstalkd
      - memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/etc/cm-monitoring.yaml:/etc/cm-monitoring.yaml
      - /share/etc/cm-service.yaml:/etc/cm-service.yaml
      - /share/etc/cm-application.yaml:/etc/cm-application.yaml
      - database:/var/cache/monitoring


  cm-grafana-client:
    restart: always
    build: ../../docker-cm-grafana-client
    container_name: cm-grafana-client
    hostname: cm-grafana-client
    labels:
      com.dnsdock.alias: cm-grafana-client
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-grafana-client
    depends_on:
      - data
      - beanstalkd
      - memcached
    links:
      - beanstalkd
      - memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/usr/local/share/templates:/usr/local/share/templates
      - database:/var/cache/monitoring


  cm-graphite-client:
    restart: always
    build: ../../docker-cm-graphite-client
    container_name: cm-graphite-client
    hostname: cm-graphite-client
    labels:
      com.dnsdock.alias: cm-graphite-client
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-graphite-client
    depends_on:
      - data
      - beanstalkd
    links:
      - beanstalkd:beanstalkd
    volumes:
      - /etc/localtime:/etc/localtime:ro


  cm-icinga-client:
    restart: always
    build: ../../docker-cm-icinga-client
    container_name: cm-icinga-client
    hostname: cm-icinga-client
    labels:
      com.dnsdock.alias: cm-icinga-client
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-icinga-client
    depends_on:
      - data
      - beanstalkd
    links:
      - beanstalkd
    volumes:
      - /etc/localtime:/etc/localtime:ro


  cm-rest-service:
    restart: always
    build: ../../docker-cm-rest-service
    container_name: cm-rest-service
    hostname: cm-rest-service
    labels:
      com.dnsdock.alias: cm-rest-service
      com.dnsdock.ttl: '120'
    extends:
      file: environments.yml
      service: cm-rest-service
    depends_on:
      - data
      - memcached
    links:
      - memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /share/etc/cm-monitoring.yaml:/etc/cm-monitoring.yaml
      - /share/etc/cm-service.yaml:/etc/cm-service.yaml
      - /share/etc/cm-application.yaml:/etc/cm-application.yaml
      - database:/var/cache/monitoring
      - database:/srv


