---
# environment variables for all services that need this
# all commented out vars are set into the containers with the correct value
# they are only examples and documentation

# FOR ALL ENVIRONMENT VARS LOOK INTO environments.example

version: '2.0'

services:

  database:
    environment:
      MYSQL_ROOT_PASS: database.pass

  icinga2-satellite:
    environment:
      ICINGA_CLUSTER: 'true'
      ICINGA_MASTER: icinga2-master.docker
      ICINGA_CERT_SERVICE: 'true'
      ICINGA_CERT_SERVICE_BA_USER: admin
      ICINGA_CERT_SERVICE_BA_PASSWORD: admin
      ICINGA_CERT_SERVICE_API_USER: root
      ICINGA_CERT_SERVICE_API_PASSWORD: icinga
      ICINGA_CERT_SERVICE_SERVER: nginx-proxy.docker
      ICINGA_CERT_SERVICE_PORT: 80
      ICINGA_CERT_SERVICE_PATH: /cert-service/

  carbon-relay:
    environment:
      GRAPHITE_HOST: carbon.docker

  cm-rest-service:
    environment:
      TZ: 'Europe/Berlin'
      REST_SERVICE_PORT: 45678
      REST_SERVICE_BIND: '0.0.0.0'
      ADDITIONAL_DNS: 'graphite:192.168.252.5,carbon:192.168.252.5,nginx-proxy:192.168.252.5,icinga2-master:192.168.252.5'

  cm-service-discovery:
    environment:
      TZ: 'Europe/Berlin'
      INTERVAL: 20
      RUN_DELAY: 10

  cm-data-collector:
    environment:
      TZ: 'Europe/Berlin'
      INTERVAL: 20

  cm-carbon-client:
    environment:
      TZ: 'Europe/Berlin'
      GRAPHITE_HOST: carbon-relay

  cm-grafana-client:
    environment:
      TZ: 'Europe/Berlin'
      GRAFANA_HOST: nginx-proxy.docker

  cm-graphite-client:
    environment:
      TZ: 'Europe/Berlin'
      GRAPHITE_HOST: nginx-proxy.docker
      GRAPHITE_HTTP_PORT: 80
      GRAPHITE_PATH: /graphite

  cm-icinga-client:
    environment:
      TZ: 'Europe/Berlin'
      ICINGA_HOST: icinga2-master.docker
      ICINGA_API_USER: root
      ICINGA_API_PASSWORD: icinga
      ICINGA_CLUSTER: 'true'
      ICINGA_CLUSTER_SATELLITE: icinga2-satellite
      ENABLE_NOTIFICATIONS: 'true'
