/*

$background-color: #222;
#fff: #fff;

$background-warning-color-1: #e82711;
$background-warning-color-2: #9b2d23;
$text-warning-color: #fff;

$background-danger-color-1: #eeae32;
$background-danger-color-2: #ff9618;
$text-danger-color: #fff;

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}

*/

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 20px;
  color: #fff;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a, a:visited {
  outline:none;
  color:#1c4f64;
}

a:hover{
  text-decoration:none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

h1 {
  padding-top: 12px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

#container {
  padding-top: 5px;
}

/*----------------------------
  Photos
-----------------------------*/


#photos{
  margin:0 auto;
  padding-top:120px;
  width:900px;
  position:absolute;
}

#photos li{
  position:absolute;
  width:1110px;
  height:945px;
  overflow:hidden;
  background-color:#fff;
  box-shadow: 1px 1px 1px #ccc;
  z-index:10;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

#photos li a{
  position:absolute;
  top:6px;
  left:6px;
  right:6px;
  bottom:6px;
  background-size: cover;
  text-indent:-9999px;
  overflow:hidden;
}


/*----------------------------
  Previous / Next arrows
-----------------------------*/


a.arrow{
  width:33px;
  height:33px;
  background:url('../blobs/arrows.png') no-repeat;
  position:absolute;
  top:340px;
  opacity:0.9;
  display:none;
}

a.arrow:hover{
  opacity:1;
}

a.arrow.previous{
  left:50%;
  background-position:0 0;
  margin-left:-340px;
}

a.arrow.next{
  right:50%;
  background-position:-33px 0;
  margin-right:-340px;
}


