#
# Configfile for the docker-based Monitoring Stack
#

export BLUEPRINT_BOX="192.168.252.100"

# we need an functional DNS for resolve internal names
export DOCKER_DNS="10.1.2.63"
# export DOCKER_DNS=${DOCKER_DNS:-172.17.0.1}

# location of persistent Data
#  mysql / graphite
export DOCKER_DATA_DIR="${HOME}/.docker/data"

# root password for database
export DOCKER_DBA_ROOT_PASS="YiTQEbKA0v02HLgu9CaU"


# 
export DOCKER_IDO_PASS=1W0svLTg7Q1rKiQrYjdV
export DOCKER_ICINGAWEB_PASS=T7CVdvA0mqzGN6pH5Ne4

# icinga2 API User for Dashing
export DOCKER_DASHING_API_USER=dashing
export DOCKER_DASHING_API_PASS=icinga2ondashingr0xx

# add automatic Docker container to icinga
export MONITOR_DOCKER_CONTAINER=false

#
export DOCKER_GRAPHITE_DBA_PASS="qVCYcouT4fi5mTzEpH3o"

