
html {
  font-size: 110%;
  -webkit-text-size-adjust: 110%;
  -ms-text-size-adjust: 110%;
  font-family: 'Roboto', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 550px;
  background: #165aa8 url(../images/background_login.svg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
}

.content {
  text-align: center;
  margin-top: 40px;
}


b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}


img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

h1 {
  padding-top: 12px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

#container {
  padding-top: 5px;
}

.footer{
  position: absolute;
  width: 100%;
  bottom: 16px;
  padding: 0 16px;
  z-index: 0;
  display: block;
  color: #000000;
  font-size: 0.75rem;
  font-weight: 400;
  color: whitesmoke;
}

.footer p {
  text-align: right;
  padding-right: 30px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 1em;
  width: 200px;
  height: 100px;
}

ul li p {
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.button {
  background-repeat: no-repeat;
  height: 100%;
}

.button_icinga {
  background-image: url('../images/icinga_logo4.png');
  background-size: 100%;
}
.button_grafana {
  background-image: url('../images/grafana_logo_200.png');
  background-size: 100%;
}
.button_opguide {
  background-image: url('../images/opguide_logo_200.png');
  background-size: 100%;
}
.button_dashboard {
  background-image: url('../images/dashboard_logo_200.png');
  background-size: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #165aa8;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
