---
# project_name: monitoring
version: '2.0'

networks:
  mon:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.0.0/24

services:
  database:
    restart: always
    image: bodsch/docker-mysql:1610-02
    container_name: database
    hostname: database
    env_file:
      - env/database.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.10

  memcached:
    restart: always
    image: bodsch/docker-memcached:1610-02
    container_name: memcached
    hostname: memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      mon:
        ipv4_address: 172.25.0.12

  nginx:
    restart: always
    image: bodsch/docker-nginx:1610-02
    container_name: nginx
    hostname: nginx
    ports:
      - 80:80
    depends_on:
      - graphite
      - grafana
    extra_hosts:
      - 'graphite:172.25.0.21'
      - 'grafana:172.25.0.22'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/nginx/var/www:/var/www:ro
      - ./share/nginx/etc/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      - ./share/nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./share/nginx/etc/nginx/modules.d/00-restrictions.conf:/etc/nginx/modules.d/00-restrictions.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-grafana.conf:/etc/nginx/modules.d/01-proxy-grafana.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-graphite.conf:/etc/nginx/modules.d/01-proxy-graphite.conf:ro
    networks:
      mon:
        ipv4_address: 172.25.0.15

  carbon:
    restart: always
    image: bodsch/docker-go-carbon:1611-01
    container_name: carbon
    hostname: carbon
    ports:
      - 2003:2003
      - 2003:2003/udp
      - 7002:7002
      - 7007:7007
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.20

  graphite:
    restart: always
    image: bodsch/docker-graphite:1610-03
    container_name: graphite
    hostname: graphite
    env_file:
      - env/graphite.env
    depends_on:
      - memcached
    extra_hosts:
      - 'memcached:172.25.0.12'
    ports:
      - 8081:8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.21

  grafana:
    restart: always
    image: bodsch/docker-grafana:1611-01
    container_name: grafana
    hostname: grafana
    env_file:
      - env/database.env
      - env/grafana.env
    depends_on:
      - database
      - memcached
      - carbon
    extra_hosts:
      - 'database:172.25.0.10'
      - 'memcached:172.25.0.12'
      - 'carbon:172.25.0.20'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.22

