---
# project_name: monitoring
version: '2.0'

networks:
  mon:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.0.0/24

services:
  database:
    restart: always
    image: bodsch/docker-mysql:1609-01
    container_name: database
    hostname: database
    env_file:
      - env/database.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.10

  jolokia:
    restart: always
    image: bodsch/docker-jolokia:1609-01
    container_name: jolokia
    hostname: jolokia
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
    ports:
      - 8080:8080
    extra_hosts:
      - 'blueprint-box:192.168.252.100'
    networks:
      mon:
        ipv4_address: 172.25.0.11

  memcached:
    restart: always
    image: bodsch/docker-memcached:latest
    container_name: memcached
    hostname: memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      mon:
        ipv4_address: 172.25.0.12

  nginx:
    restart: always
    image: bodsch/docker-nginx:latest
    container_name: nginx
    hostname: nginx
    ports:
      - 80:80
    depends_on:
      - grafana
      - icingaweb2
      - cm-monitoring
    extra_hosts:
      - 'jolokia:172.25.0.11'
      - 'graphite:172.25.0.21'
      - 'grafana:172.25.0.22'
      - 'icingaweb2:172.25.0.31'
      - 'cm-monitoring:172.25.0.40'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/nginx/var/www:/var/www:ro
      - ./share/nginx/etc/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      - ./share/nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./share/nginx/etc/nginx/modules.d/00-restrictions.conf:/etc/nginx/modules.d/00-restrictions.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-grafana.conf:/etc/nginx/modules.d/01-proxy-grafana.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-graphite.conf:/etc/nginx/modules.d/01-proxy-graphite.conf:rw
      - ./share/nginx/etc/nginx/modules.d/01-proxy-icingaweb2.conf:/etc/nginx/modules.d/01-proxy-icingaweb2.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-rest-service.conf:/etc/nginx/modules.d/01-proxy-rest-service.conf:ro
    networks:
      mon:
        ipv4_address: 172.25.0.15

  graphite:
    restart: always
    image: bodsch/docker-graphite:1609-01
    container_name: graphite
    hostname: graphite
    env_file:
      - env/database.env
      - env/graphite.env
    depends_on:
      - database
      - memcached
    extra_hosts:
      - 'database:172.25.0.10'
      - 'memcached:172.25.0.11'
    ports:
      - 2003:2003
      - 7002:7002
      - 8081:8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.21

  grafana:
    restart: always
    image: bodsch/docker-grafana:1609-01
    container_name: grafana
    hostname: grafana
    env_file:
      - env/database.env
      - env/grafana.env
    depends_on:
      - database
    extra_hosts:
      - 'database:172.25.0.10'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.22

  icinga2-core:
    restart: always
    image: bodsch/docker-icinga2:1609-01
    container_name: icinga2-core
    hostname: icinga2-core
    env_file:
      - env/database.env
      - env/icinga2.env
    depends_on:
      - database
    extra_hosts:
      - 'database:172.25.0.10'
    ports:
      - 5665:5665
      - 6666:6666
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
      - ./data:/srv
      - ./share/cache/monitoring:/var/cache/monitoring
      - ./share/icinga2:/usr/local/monitoring
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_memory_cache:/usr/lib/monitoring-plugins/check_cm_memory_cache
      - ./share/icinga2/etc/icinga2/objects:/etc/icinga2/objects
    links:
      - database:database
    networks:
      mon:
        ipv4_address: 172.25.0.30

  icingaweb2:
    restart: always
    image: bodsch/docker-icingaweb2:latest
    container_name: icingaweb2
    hostname: icingaweb2
    env_file:
      - env/database.env
      - env/icinga2.env
      - env/icingaweb2.env
    depends_on:
      - database
      - icinga2-core
    extra_hosts:
      - 'database:172.25.0.10'
      - 'icinga2:172.25.0.30'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
      - ./share/icingaweb2:/usr/local/share
    volumes_from:
      - icinga2-core
    links:
      - database:database
      - icinga2-core:icinga2
    networks:
      mon:
        ipv4_address: 172.25.0.31

  cm-monitoring:
    restart: always
    build: ../docker-cm-monitoring
    container_name: cm-monitoring
    hostname: cm-monitoring
    env_file:
      - env/cm-monitoring.env
    depends_on:
      - jolokia
      - icinga2-core
      - grafana
    extra_hosts:
      - 'jolokia:172.25.0.11'
      - 'graphite:172.25.0.21'
      - 'grafana:172.25.0.22'
      - 'icinga2:172.25.0.30'
      - 'blueprint-box:192.168.252.100'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
      - ./data/monitoring:/var/cache/monitoring
      - ./data:/srv
    links:
      - icinga2-core:icinga2
      - jolokia:jolokia
      - grafana:grafana
    networks:
      mon:
        ipv4_address: 172.25.0.40
