---
# project_name: monitoring
version: '2.0'
services:
  database:
    image: bodsch/docker-mysql:latest
    container_name: database
    hostname: database
    env_file:
      - env/database.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv

  jolokia:
    image: bodsch/docker-jolokia:latest
    container_name: jolokia
    hostname: jolokia
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
    ports:
      - 8080:8080
    extra_hosts:
      - 'blueprint-box:192.168.252.100'

  memcached:
    image: bodsch/docker-memcached:latest
    container_name: memcached
    hostname: memcached
    volumes:
      - /etc/localtime:/etc/localtime:ro

  nginx:
    image: bodsch/docker-nginx:latest
    container_name: nginx
    hostname: nginx
    ports:
      - 80:80
    depends_on:
      - grafana
      - icingaweb2
      - cm-monitoring
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/nginx/var/www:/var/www:ro
      - ./share/nginx/etc/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      - ./share/nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./share/nginx/etc/nginx/modules.d/00-restrictions.conf:/etc/nginx/modules.d/00-restrictions.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-grafana.conf:/etc/nginx/modules.d/01-proxy-grafana.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-icingaweb2.conf:/etc/nginx/modules.d/01-proxy-icingaweb2.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-rest-service.conf:/etc/nginx/modules.d/01-proxy-rest-service.conf:ro

  graphite:
    image: bodsch/docker-graphite:latest
    container_name: graphite
    hostname: graphite
    env_file:
      - env/database.env
      - env/graphite.env
    depends_on:
      - database
      - memcached
    ports:
      - 2003:2003
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv

  grafana:
    image: bodsch/docker-grafana:latest
    container_name: grafana
    hostname: grafana
    env_file:
      - env/database.env
      - env/grafana.env
    depends_on:
      - database
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv

  icinga2-core:
    image: bodsch/docker-icinga2:latest
    container_name: icinga2-core
    restart: always
    hostname: icinga2-core
    env_file:
      - env/database.env
      - env/icinga2.env
    depends_on:
      - database
    ports:
      - 5665:5665
      - 6666:6666
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
      - ./data:/srv
      - ./share/cache/monitoring:/var/cache/monitoring
      - ./share/icinga2:/usr/local/monitoring
      - ./share/icinga2/usr/lib/monitoring-plugins/check_cm_memory_cache:/usr/lib/monitoring-plugins/check_cm_memory_cache
      - ./share/icinga2/etc/icinga2/objects:/etc/icinga2/objects
    links:
      - database:database

  icingaweb2:
    image: bodsch/docker-icingaweb2:latest
    container_name: icingaweb2
    restart: always
    hostname: icingaweb2
    env_file:
      - env/database.env
      - env/icinga2.env
      - env/icingaweb2.env
    depends_on:
      - database
      - icinga2-core
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
      - ./share/icingaweb2:/usr/local/share
    volumes_from:
      - icinga2-core
    links:
      - database:database
      - icinga2-core:icinga2

  cm-monitoring:
    build: ../docker-cm-monitoring
    container_name: cm-monitoring
    hostname: cm-monitoring
    env_file:
      - env/cm-monitoring.env
    depends_on:
      - jolokia
      - icinga2-core
      - grafana
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/resolv.conf:/etc/resolv.conf:ro
      - ./share/monitoring:/usr/local/monitoring
    links:
      - icinga2-core:icinga2
      - jolokia:jolokia
      - grafana:grafana
