
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 20px;
  color: #fff;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

h1 {
  padding-top: 12px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

#container {
  padding-top: 5px;
}

#footer div.footer {
    color: #777;
    font-size: 0.85em;
    line-height: 1.5;
    padding: 4px 10px 4px 4px;
    text-align: right;
}

#footer div.footer div.on-off {
    cursor: pointer;
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 3px;
}
