
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
//  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [320, 220]
  Dashing.numColumns = 7
});
/*
$(function() {
  $('li').live('click', function(e){
    var widget = $(this).find('.widget');
    var url = widget.data('url');
    window.open(url, '_blank')
  });
});
*/
</script>
<script type="text/javascript" src="/assets/moment.min.js"></script>
<script type="text/javascript" src="/assets/timeknots-min.js"></script>


<% content_for :title do %>Coremedia Dashboard<% end %>

<div class="gridster">

  <ul>
    <!-- head -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="chuck" data-view="Text" data-title="Team Facts"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="image" data-view="image" data-title="test-image"></div>
    </li>
    <!-- head -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="pingdom" data-view="Pingdom" data-title="Pingdom" data-cols="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cloudformation" data-view="Cloudformation" data-title="CloudFormation" data-cols="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="cloudwatch" data-view="Rickshawgraph" data-title="CloudWatch"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-min="0"
        data-max="5"
        data-summary-method="none"
        data-legend="true"
        data-colors="rgba(192,132,255,1):rgba(96,170,255,1)"></div>
    </li>

    <!-- Jenkin master-14 pipeline -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="https://cm7-ci.coremedia.com/master-14.0/job/build" data-server="https://cm7-ci.coremedia.com" data-view="BuildWindow"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="https://cm7-ci.coremedia.com/master-14.0/job/tomcat/job/wcs-build" data-server="https://cm7-ci.coremedia.com" data-view="BuildWindow"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="https://cm7-ci.coremedia.com/master-14.0/job/tomcat/job/wcs-deploy" data-server="https://cm7-ci.coremedia.com" data-view="BuildWindow"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="https://cm7-ci.coremedia.com/master-14.0/job/websphere/job/wcs-build" data-server="https://cm7-ci.coremedia.com" data-view="BuildWindow"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="https://cm7-ci.coremedia.com/master-14.0/job/websphere/job/wcs-deploy" data-server="https://cm7-ci.coremedia.com" data-view="BuildWindow"></div>
    </li>


  </ul>

</div>
