
<% content_for :title do %>Coremedia Dashboard<% end %>

<div class="gridster highcontrast">

  <ul>
    <!-- head -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
      <div data-id="chuck" data-view="Text" data-title="Team Facts"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="assets/cm_logo_100px.png" style="background: transparent;"></div>
    </li>
    <!-- head -->

    <!-- row 2 -->


    <li data-row="2" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="pingdom" data-view="Pingdom" data-title="Pingdom" data-cols="2"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="cloudformation" data-view="Cloudformation" data-title="CloudFormation" data-cols="2"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="3">
      <div data-id="simple_cloudwatch" data-view="Cloudwatch" data-title="CloudWatch" data-cols="2"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chef" data-view="List" data-unordered="true" data-title="Chef Nodes" data-cols="1"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="jenkins-nodes" data-view="Table" data-title="Jenkins Nodes" class="jenkins-nodes"></div>
    </li>


  </ul>

</div>

<script type='text/javascript'>
/*
  $(function() {
    Dashing.gridsterLayout('[
      {"col":1,"row":1,"size_x":1,"size_y":2},
      {"col":2,"row":1,"size_x":6,"size_y":1},
      {"col":8,"row":1,"size_x":1,"size_y":1},
      {"col":4,"row":2,"size_x":1,"size_y":3},
      {"col":5,"row":2,"size_x":1,"size_y":2},
      {"col":2,"row":2,"size_x":2,"size_y":3},
      {"col":1,"row":5,"size_x":5,"size_y":3},
      {"col":1,"row":3,"size_x":1,"size_y":1},
      {"col":6,"row":2,"size_x":3,"size_y":8}
    ]')
  });
*/

/*
$(function() {
  $('li').live('click', function(e){
    var widget = $(this).find('.widget');
    var url = widget.data('url');
    window.open(url, '_blank')
  });
});


$(function() {

  $('div#cloudformation').on('mouseover', 'li.check', function() {

    var base = $(this).closest('li');
    var child = base.find('span.cfTooltip');
    var text  = child.text();

    base.hover(function(){
      // Hover over code
      var title = text; // $(this).attr('title');
//      $(this).data('tipText', title).removeAttr('title');
      $('<p class="tooltip"></p>').text( title ).appendTo( base ).fadeIn('slow');
    }, function() {
      // Hover out code
//      $(this).attr('title', $(this).data('tipText'));
      $('.tooltip').remove();
    }).mousemove(function(e) {
      var mousex = e.pageX + 20; //Get X coordinates
      var mousey = e.pageY + 10; //Get Y coordinates
      $('.tooltip').css({ top: mousey, left: mousex })
    });

    base.css('background', '#000');
    base.css('opacity', '0.6' );
  });

});
*/
</script>

<script type="text/javascript" src="assets/moment.min.js"></script>
<script type="text/javascript" src="assets/timeknots-min.js"></script>
