---
# project_name: monitoring
version: '2.0'

networks:
  mon:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.0.0/24

services:

  dnsdock:
    restart: always
    image: bodsch/docker-dnsdock:1611-01
    container_name: dnsdock
    hostname: dnsdock
    labels:
      com.dnsdock.image: "dnsdock"
      com.dnsdock.alias: "dnsdock"
      com.dnsdock.ttl: "10"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 53:53
    command: "--nameserver='141.1.1.1:53' --http=:80"
    networks:
      mon:
        ipv4_address: 172.25.0.5

  database:
    restart: always
    image: bodsch/docker-mysql:1610-02
    container_name: database
    hostname: database
    labels:
      com.dnsdock.image: "database"
      com.dnsdock.alias: "database"
      com.dnsdock.ttl: "10"
    env_file:
      - env/database.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.10

  memcached:
    restart: always
    image: bodsch/docker-memcached:1610-02
    container_name: memcached
    hostname: memcached
    labels:
      com.dnsdock.image: "memcached"
      com.dnsdock.alias: "memcached"
      com.dnsdock.ttl: "10"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      mon:
        ipv4_address: 172.25.0.12

  nginx:
    restart: always
    image: bodsch/docker-nginx:1610-02
    container_name: nginx
    hostname: nginx
    labels:
      com.dnsdock.image: "nginx"
      com.dnsdock.alias: "nginx"
      com.dnsdock.ttl: "10"
    ports:
      - 80:80
    depends_on:
      - graphite
      - grafana
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./share/nginx/var/www:/var/www:ro
      - ./share/nginx/etc/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
      - ./share/nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./share/nginx/etc/nginx/modules.d/00-restrictions.conf:/etc/nginx/modules.d/00-restrictions.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-grafana.conf:/etc/nginx/modules.d/01-proxy-grafana.conf:ro
      - ./share/nginx/etc/nginx/modules.d/01-proxy-graphite.conf:/etc/nginx/modules.d/01-proxy-graphite.conf:ro
    networks:
      mon:
        ipv4_address: 172.25.0.15

  carbon:
    restart: always
    image: bodsch/docker-go-carbon:1611-01
    container_name: carbon
    hostname: carbon
    labels:
      com.dnsdock.image: "carbon"
      com.dnsdock.alias: "carbon"
      com.dnsdock.ttl: "10"
    ports:
      - 2003:2003
      - 2003:2003/udp
      - 7002:7002
      - 7007:7007
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.20

  graphite:
    restart: always
    image: bodsch/docker-graphite:1611-01
    container_name: graphite
    hostname: graphite
    labels:
      com.dnsdock.image: "graphite"
      com.dnsdock.alias: "graphite"
      com.dnsdock.ttl: "10"
    env_file:
      - env/graphite.env
    depends_on:
      - memcached
    ports:
      - 8081:8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.21

  grafana:
    restart: always
    image: bodsch/docker-grafana:1611-02
    container_name: grafana
    hostname: grafana
    labels:
      com.dnsdock.image: "grafana"
      com.dnsdock.alias: "grafana"
      com.dnsdock.ttl: "10"
    env_file:
      - env/database.env
      - env/grafana.env
    depends_on:
      - database
      - memcached
      - carbon
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/srv
    networks:
      mon:
        ipv4_address: 172.25.0.22

