---
# environment variables for all services that need this
# all commented out vars are set into the containers with the correct value
# they are only examples and documentation
#
# FOR ALL ENVIRONMENT VARS LOOK INTO environments.example

version: '2.0'

services:

  database:
    environment:
      MYSQL_SYSTEM_USER: root
      MYSQL_ROOT_PASS: database.pass

  graphite:
    environment:
      # THIS TURN OFF THE INTERNAL CARBON!
      # USE THIS ONLY WITH AN OTHER CARBON-WRITER (e.g. bodsch/docker-go-carbon)
      USE_EXTERNAL_CARBON: 'true'

  grafana:
    environment:
      URL_PATH: /grafana/
      ORGANISATION: CoreMedia
      DATABASE_TYPE: mysql
      MYSQL_HOST: database
      MYSQL_ROOT_PASS: database.pass
      GRAPHITE_HOST: graphite
      # WE USE AN SEPERATE CARBON SERVICE
      # IF NOT, THEN SET THEN TO $GRAPHITE_HOST
      # (see above in this configuration part!)
      CARBON_HOST: carbon
      MEMCACHE_HOST: memcached
      LDAP: '{
        "server": "${LDAP_SERVER}",
        "port": "${LDAP_PORT}",
        "bind_dn": "${LDAP_BIND_DN}",
        "bind_password": "${LDAP_BIND_PASSWORD}",
        "base_dn": "${LDAP_BASE_DN}",
        "group_dn": "${LDAP_GROUP_DN}",
        "search_filter": "${LDAP_SEARCH_FILTER}"
      }'


  cm-icinga2-master:
    environment:
      MYSQL_HOST: database
      MYSQL_ROOT_PASS: database.pass
      IDO_PASSWORD: ido.pass
      IDO_DATABASE_NAME: icinga2core
      CARBON_HOST: carbon
      ICINGA_CLUSTER: 'false'
      ICINGA_MASTER: cm-icinga2-master
      ICINGA_API_USERS: root:icinga,icingaweb:icingaweb,dashing:dashing,cert:foo-bar
      REDIS_HOST: redis

  icingaweb2:
    environment:
      MYSQL_HOST: database
      MYSQL_ROOT_PASS: database.pass
      IDO_PASSWORD: ido.pass
      IDO_DATABASE_NAME: icinga2core
      ICINGA2_HOST: cm-icinga2-master
      ICINGA2_CMD_API_USER: icingaweb
      ICINGA2_CMD_API_PASS: icingaweb
      ICINGAWEB2_USERS: coremedia:coremedia,icinga:icinga
      LDAP: '{
        "active_directory": "true",
        "server": "${LDAP_SERVER}",
        "port": "${LDAP_PORT}",
        "bind_dn": "${LDAP_BIND_DN}",
        "bind_password": "${LDAP_BIND_PASSWORD}",
        "base_dn": "${LDAP_BASE_DN}",
        "filter": "${LDAP_FILTER}",
        "role": {
          "groups": "${LDAP_GROUP_NAMES}",
          "permissions": "${GROUP_PERMISSIONS}"
        }'

  cm-dashing:
    environment:
      ICINGA_HOST: cm-icinga2-master
      ICINGA_API_USER: dashing
      ICINGA_API_PASSWORD: dashing
      ICINGAWEB_URL: /icinga
      PROXY_PATH: /dashing
      ICINGA_CERT_SERVICE: 'true'
      ICINGA_CERT_SERVICE_BA_USER: admin
      ICINGA_CERT_SERVICE_BA_PASSWORD: admin
      ICINGA_CERT_SERVICE_API_USER: root
      ICINGA_CERT_SERVICE_API_PASSWORD: icinga
      ICINGA_CERT_SERVICE_SERVER: cm-icinga2-master
      ICINGA_CERT_SERVICE_PORT: 4567
      ICINGA_CERT_SERVICE_PATH: /

  cm-rest-service:
    environment:
      TZ: 'Europe/Berlin'
      REST_SERVICE_PORT: 45678
      REST_SERVICE_BIND: '0.0.0.0'
      MYSQL_HOST: database
      MYSQL_ROOT_PASS: database.pass
      # when we need an DNS entry for external services, we can use ADDITIONAL_DNS
      # its an json style with following syntax:
      # ADDITIONAL_DNS: '[{
      #   "name": "blueprint-box",
      #   "ip": "192.168.252.100",
      #   "aliases": [ "tomcat-centos7" ]
      # }]'
      ADDITIONAL_DNS: '[{
        "name": "blueprint-box",
        "ip": "192.168.252.100",
        "aliases": [ "tomcat-centos7", "overview.blueprint-box", "preview.blueprint-box", "sitemanager.blueprint-box", "studio.blueprint-box", "corporate.blueprint-box" ]
      },{
        "name": "osmc",
        "ip": "192.168.122.60",
        "aliases": [ "osmc.local", "overview.osmc.local", "preview.osmc.local", "sitemanager.osmc.local", "studio.osmc.local", "corporate.osmc.local" ]
      }]'

  cm-service-discovery:
    environment:
      TZ: 'Europe/Berlin'
      INTERVAL: 20

  cm-data-collector:
    environment:
      TZ: 'Europe/Berlin'
      INTERVAL: 20

  cm-carbon-client:
    environment:
      TZ: 'Europe/Berlin'
      # USE ONLY WITH AND EXTERNAL CARBON-WRITER!
      GRAPHITE_HOST: carbon

  cm-grafana-client:
    environment:
      TZ: 'Europe/Berlin'
      GRAFANA_HOST: nginx
      # GRAFANA_API_USER: admin
      # GRAFANA_API_PASSWORD: admin
      SERVER_CONFIG_FILE: /etc/grafana_config.yml
      RUN_DELAY: 30

  cm-graphite-client:
    environment:
      TZ: 'Europe/Berlin'
      GRAPHITE_HOST: nginx
      GRAPHITE_HTTP_PORT: 80
      GRAPHITE_PATH: /graphite

  cm-icinga-client:
    environment:
      TZ: 'Europe/Berlin'
      ICINGA_HOST: cm-icinga2-master
      ICINGA_API_USER: root
      ICINGA_API_PASSWORD: icinga
      ENABLE_NOTIFICATIONS: 'true'
      RUN_DELAY: 30
