[mysqld]
user                    = root
datadir                 = /app/mysql
port                    = 3306
socket                  = /app/mysql.sock
log-bin                 = /app/mysql/mysql-bin
log_bin_index           = /app/mysql/mysql-bin.index

max_connections         = 100
connect_timeout         = 5
wait_timeout            = 600
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 32M
max_heap_table_size     = 32M

# not fab for performance, but safer
#sync_binlog            = 1
expire_logs_days        = 4
max_binlog_size         = 10M

default_storage_engine  = InnoDB
innodb_log_file_size    = 20M
innodb_buffer_pool_size = 128M
innodb_log_buffer_size  = 8M
innodb_file_per_table   = 1
innodb_open_files       = 400
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT


[client]
port     = 3306
socket   = /app/mysql.sock

